a.btn {
   color: white;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 0.25rem;
   margin: 0;
   background-color: #007bff;
   border-color: #007bff;
   cursor: pointer;
}

.markdown h4 {
    font-weight: bold;
}

.book-toc a {
    color: #637282;
}

.book-toc a:hover {
    opacity: 1;
    color: #0070e0;
}
