h2, b, strong {
  font-weight: 500; }

h1, h2, h3, h4 {
  font-family: 'Karla', Arial, sans-serif; }

header h1 {
  font-weight: bold;
  font-size: 4em;
  display: inline-block;
  margin-top: .7em;
  margin-bottom: .3em; }

h2 {
  font-size: 1.8em; }

p, li {
  line-height: 1.7em; }

blockquote {
  margin: 50px 30px;
  font-size: 1.3em;
  font-style: italic; }
  blockquote p {
    line-height: 1.5em; }

ul {
  padding-left: 20px; }

nav#TableOfContents > ul {
  list-style: none;
  padding-left: 0; }
  nav#TableOfContents > ul > li {
    padding-bottom: 10px; }

body {
  margin: 0;
  font-family: "IBM Plex Serif", Georgia, serif;
  -webkit-font-smoothing: antialiased; }

.smallcaps {
  font-variant: small-caps; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.rarr {
  display: inline-block;
  width: 10px; }
  .rarr svg {
    fill: currentColor; }

main {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto; }

article {
  display: grid;
  grid-template-columns: 20px 1fr 20px; }
  article > * {
    grid-column: 2; }
